.blackjack-table {
  margin-top: 20px;
  background-image: url("https://cdn.glitch.global/d20de27e-3653-4342-b914-fd709297736c/table.png?v=1665599794644");
  height: 430px;
  width: 880px;
  background-repeat: no-repeat;
  position: relative;
}

.playerhand {
  position: absolute;
  top: 346px;
  left: 280;
  height: 110px;
  width: 280px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}
.playercard {
  max-height: 100px;
  margin-left: -30px;
}

.dealercard {
  max-height: 80px;
  margin-left: -20px;
}

.dealerhand {
  position: absolute;
  top: 146px;
  left: 280;
  height: 110px;
  width: 200px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}
