.blackjack-table {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-image: url("https://cdn.glitch.global/d20de27e-3653-4342-b914-fd709297736c/table.png?v=1665662193050");
  height: 460px;
  width: 910px;
  background-repeat: no-repeat;
  position: relative;
  
}

.playerhand {
  position: absolute;
  top: 286px;
  left: 230;
  height: 130px;
  width: 480px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}
.playercard {
  max-height: 120px;
  margin-left: -30px;
}

.dealercard {
  max-height: 100px;
  margin-left: -20px;
}

.dealerhand {
  position: absolute;
  top: 52px;
  left: 220;
  height: 80px;
  width: 500px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}

.playerbuttonbar {
  position: absolute;
  top: 180px;
}
