.blackjack-table {
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
  background-image: url("https://cdn.glitch.global/d20de27e-3653-4342-b914-fd709297736c/table.png?v=1665669475761");
  height: 460px;
  width: 910px;
  background-repeat: no-repeat;
  position: relative;
  
}

.playerhand {
  position: absolute;
  top: 286px;
  left: 234px;
  height: 130px;
  width: 480px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}
.playercard {
  max-height: 120px;
  margin-left: -30px;
}

.dealercard {
  max-height: 100px;
  margin-left: -20px;
}

.dealerhand {
  position: absolute;
  top: 62px;
  left: 220;
  height: 80px;
  width: 500px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}

.playerbuttonbar {
  position: absolute;
  top: 180px;
}


.playerTotalDiv {
  position: absolute;
  top: 250px;
  left: 320;
  height: 40px;
  width: 280px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}

.playerTotalSpan {
  color: white;
  font-weight: bold;
  font-size: larger;
  text-shadow: 1px 2px #205a27
}

.dealerTotalDiv {
  position: absolute;
  top: 30px;
  left: 320;
  height: 40px;
  width: 280px;
  text-align: center;
/*   background-color: red; */
/*   border: 1px solid green; */
}

.dealerTotalSpan {
  color: white;
  font-weight: bold;
/*   font-size: larger; */
  text-shadow: 1px 2px #205a27
}
.bannerHTMLDiv {
  position: absolute;
  top: 190px;
  left: 215;
  height: 40px;
  width: 480px;
  text-align: center;
}
.gameTitle {
  color: white;
  font-weight: bold;
  font-size: 16pt;
  text-shadow: 1px 2px #205a27;
  letter-spacing: 2px;
}

.hitStandBtns {
  padding: 5px;
  width: 70px;
  height: 70px;
  transition-duration: 0.2s;
  border: 2px solid #a8b13c;
  border-radius: 50%;
  background-color: #303030;
  color: white;
  font-weight: bold;
  line-height: 20px;
  padding-top: 4px;
/*   box-shadow: 1px 1px #a8b13c; */
  
}

.standBtn {
  background-color: #d40000;
  float: right;
    
}

.playAgainBtn {
  float: right;
}

.hitStandBtns:hover {
   background-color: #20aaca;
}

.playerButtonsDiv, .playAgainDiv, .playerControlsDiv{
  width: 600px;
   position: absolute;
  top: 310px;
  left: 150px;
}

.bannerIcons {
  color: #f2d450;
}

.tally {
  display: block;
  color: white;
  
  margin: 10px;
  text-transform: uppercase;
  font-size: smaller;
  font-weight: bold;
}

.dealerTally, .playerTally {
  margin-bottom: 10px;
  font-weight: bold;
  text-decoration: none;
}

.tallyScore {
  color: white;
  text-align:center;
  font-weight: bold;
}
.tallyIcon {
  text-align:center;
  font-size: larger;
  vertical-align: middle;
}
.tallyTable {
  margin-left: 28px;
}

.tallyScoreboard {
   position: absolute;
  top: 24px;
  left: 775;
  height: 120px;
  width: 100px;
  text-align: center;
/*   border: 4px solid #205a27; */
/*   border-radius: 10px; */
/*   box-shadow: 1px 1px #a8b13c; */
}


/* .playAgainDiv {
  margin: 0 auto;
  text-align: center;
  margin-top: -30px;
  margin-bottom: 40px;
} */