/***************************************
* Webpage Glitch button 
***************************************/
.remix {
  padding: 5px 10px;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 30px;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #565857;
  white-space: nowrap;
}

.glitch {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

img.glitch-logo {
  content: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140")
}