/* Google Font Titillium */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");
/* Awesome Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");



/***************************************
* HTML Clear default padding/margin
***************************************/
html {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 12pt;
  margin: 10px;
}

h1,h2,h3 {
  margin: 0;
  padding: 0;
  color: #001728;
}

.margin-top {
  margin-top: 20px;
}
a.links, a.links:visited{
  border: 0;
  text-decoration: underline;
  width: inherit;
  background-color: white;
  line-height: 12pt;
}
a.links:hover {
  font-weight: bold;
  background-color: #FFFFFF
  
}
a, a:visited {
  border: 1px solid #CECECE;
  padding: 5px 10px;
  width: 28%;
  display: inline-block;
  text-align: center;
  background-color: #ecf1f2;
  color: #001728;
  text-decoration: none;
}
a.start {
  background-color: #ecf1f2;
}

a.complete {

  float:right;
}

a.download{
  background-color: #e7f4d3;
}

a:hover, a.download:hover {
  background-color: #CDEDFD;  
}



.enablement {
  content: url("https://cdn.glitch.global/2ef0ca36-d8d7-4c06-b231-374cc15fda3a/dv-enablement-logo.png?v=1662986206024");
  max-height: 120px;
  margin-bottom: 20px;
}
.content {
  margin: 0 auto;
  width: 1150px;
  text-align: center;
}
.bordered-box {
  border: 1px solid #CECECE;
  padding: 10px;
  margin: 10px 10px 30px;
  border-radius: 5px;
  height: 360px;
}

.bordered-box-overview {
  border: 1px solid #CECECE;
  padding: 10px;
  margin: 10px 10px 30px;
  border-radius: 5px;
   height: 160px; 
}
.description-box{
  height: 260px;
}

h3 {
  background-color:#ecf1f2;
  padding: 10px;
  color: #001728;
}

p {
  margin: 10px 10px;
}

.flowsImg {
  content: url("https://cdn.glitch.global/2ef0ca36-d8d7-4c06-b231-374cc15fda3a/favicon-davinci.png?v=1664889042950");
  max-height: 18px;
  vertical-align: middle
}

.center {
  text-align: center;
}

.glitchIcon {
  content: url("https://cdn.glitch.com/605e2a51-d45f-4d87-a285-9410ad350515%2FLogo_Color.svg?v=1618199565140");
}

