/* Google Font Titillium */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;400;700&display=swap");
/* Awesome Icons */
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

:root {
  --theme-font-color: #303030;
  --theme-primary-color: #20AACA;
  --theme-secondary-color: #6CB352;
  --theme-highlight-color: #3FB9D9;
  --theme-secondary-highlight-color: #73BF5C;
  --theme-error-message-color: #ed4337;
  --theme-content-border-color: #CECECE;
  --theme-readonly-input:#f2f3f5;
  --theme-logo: url("https://cdn.glitch.global/f9c4e592-c539-40d1-9db1-bae3029913cb/playcards-logo.png?v=1657546882083");
}

/***************************************
* HTML Clear default padding/margin
***************************************/
html {
  margin: 0;
  padding: 0;
}

/***************************************
* Set page font. 
*      See https://fonts.google.com/
***************************************/
body {
  font-family: "Titillium Web", sans-serif;
  font-size: 12pt;
  color: var(--theme-font-color);
  padding: 0;
  margin: 0;
}

/***************************************
* Page panel 
***************************************/
/* section {
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px black;
  width: 1000px;
}
 */
.top-bar{
  background-color: #EFEFEF;
  height: 70px;
  padding: 10px;
 
  width: 100%;
}
.menu-bar {
  
 width: 1000px;
 
  height: 70px;
  border: solid 1px black;
  margin: 0 auto;
  
}

/***************************************
* Company Logo
***************************************/
.logo {
  content: var(--theme-logo);
  height: 70px;
  display: block;
}
.site-logo {
  width: 100px;
  border: solid 1px black;
}

.centered {
  text-align: center;
}

/***************************************
* H1 page within section
***************************************/
h1,h2,h3 {
  margin: 0;
  padding: 0;
  text-align: center;
 
}

button {
  padding: 5px;
  width: 120px;
  height: 30px;
  transition-duration: 0.2s;
  border: 1px solid var(--theme-font-color);
  border-radius: 3px;
  background-color: var(--theme-primary-color);
  color: white;
}
.casino {
  content: url("https://cdn.glitch.global/deee0fd1-6cbf-4fd4-b0ab-9e576ed71f35/casino.png?v=1658424997202");
}